@import "tailwindcss";

:root {
  --background: #FFFAFA; /* Snow White */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08040b; /* Deep Technological Purple Background */
    --foreground: #f3e8ff; /* Light Lilac Foreground */
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
